/* =======================
   GLOBAL
   ======================= */
* {
  border: none;
  border-radius: 0;

  font-family:
    "JetBrainsMonoNL Nerd Font Mono", "Monaspace Radon Frozen",
    "otf-font-awesome";

  font-size: 22px;
  min-height: 10px;
}

/* =======================
   WINDOW
   ======================= */
window#waybar {
  background: #000000;
  color: #ebdbb2;
}

/* =======================
   WORKSPACES
   ======================= */
#workspaces {
  margin: 0 8px;
  padding: 4px 8px;
}

#workspaces button {
  background: transparent;
  color: #928374;
  transition: all 0.15s ease-in-out;
}

#workspaces button.active {
  background: #ebdbb2;
  color: #282828;
  border-radius: 4px;
  padding: 2px 10px;
}

#workspaces button:hover {
  background: #3c3836;
  color: #ebdbb2;
}

/* =======================
   TAGS
   ======================= */
#tags {
  margin: 0 12px;
  font-size: 16px;
  background: transparent;
}

#tags button {
  background: transparent;
  color: #a89984;
}

#tags button.occupied {
  color: #fabd2f;
}

#tags button.focused {
  color: #ebdbb2;
  border-top: 2px solid #fe8019;
  border-bottom: 2px solid #fe8019;
}

#tags button:hover {
  color: #ebdbb2;
}

/* =======================
   NETWORK
   ======================= */
#network {
  background: none;
  color: #83a598;
}

/* =======================
   POMODORO
   ======================= */
#custom-pomodoro {
  color: #fe8019;
}

/* =======================
   AUDIO
   ======================= */
#pulseaudio {
  color: #8ec07c;
}

#pulseaudio.output.muted,
#pulseaudio.mic.source-muted {
  color: #928374;
}

/* =======================
   BATTERY
   ======================= */
#battery {
  color: #ebdbb2;
  transition: color 0.4s ease;
}

#battery.critical:not(.charging) {
  color: #fb4934;
}

#battery.charging.low {
  color: #fb4934; /* 0–39% */
}

#battery.charging.medium {
  color: #fabd2f; /* 40–79% */
}

#battery.charging {
  color: #b8bb26; /* 80–100% */
}

/* =======================
   BACKLIGHT
   ======================= */
#backlight {
  color: #fabd2f;
}

/* =======================
   CLOCK
   ======================= */
#clock,
#custom-clock,
#custom-clock_utc {
  color: #ebdbb2;
}

/* =======================
   MEMORY & CPU
   ======================= */
#custom-memory {
  color: #83a598;
}

#custom-cpu {
  color: #83a598;
}

/* =======================
   TRAY
   ======================= */
#tray {
  color: #a89984;
}
#custom-todo {
  color: #a89984;
}
/* =======================
   LAUNCHER
   ======================= */
#custom-launcher {
  font-size: 24px;
  color: #fe8019;
}

/* =======================
   POWER
   ======================= */
#custom-power {
  font-size: 20px;
  color: #fb4934;
}

/* =======================
   WALLPAPER
   ======================= */
#custom-wallpaper {
  color: #8ec07c;
}

/* =======================
   UPDATES
   ======================= */
#custom-updates {
  color: #fabd2f;
}

/* =======================
   MEDIA
   ======================= */
#custom-media {
  color: #b8bb26;
}

/* =======================
   SEPARATOR
   ======================= */
#custom-separator {
  color: #504945;
  margin: 0 6px;
}
